 /* ........  Slider ............... */

body {
    font-family: 'Nunito', sans-serif;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.navbar {
   background: linear-gradient(rgba(121, 94, 94, 0.603),);
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-nav{
    text-align: center;
}
.nav-link {
    padding: .2rem 1rem;
    font-family:'Nunito', sans-serif;
     
    }


.nav-link.active, .nav-link:focus {
    color:black !important;
}




/*...........video .............*/

   .video{
      background: linear-gradient( 45deg , black, lightslategray);
    height: 500px;
   }

   .video h2,p {
      font-family:'Nunito', sans-serif;
     
   }

   .video p {
    color: whitesmoke;

   }
   .video h1 {
     font-family:'Nunito', sans-serif;
     padding-top: 20px;
     color: whitesmoke;
   
   }

   .video h1:hover {
      font-size: 50px;
   }



   video{
    background: linear-gradient(rgba(59, 54, 54, 0.733),rgba(80, 49, 58, 0.397));
    border-radius: 20px;
    margin-top: 60px;
    cursor: pointer;
    
   }

   .box {
      font-family: sans-serif;
      border-radius: 40px;
      border: 3px solid rgba(192, 219, 255, 0.144);
      height: 250px;
      margin-top: 100px;
      padding: 20px;
      box-shadow: 5px 8px 0px black;
      cursor: pointer;
     
      
   }

  






/*........... Our delicious Item................*/

.ourteam{
   background: linear-gradient(#c6ffdd, #fbd786, #f7797d);
   height: 600px;
   padding: 60px 0px 60px;
   width: 100%;
}

.ourteam h1 {
   font-size: 50px;
   font-weight: bold;
}

.teamsetting {
   margin-top: 50px;
}

.ice{
    cursor: pointer;
}

.ourteam h1:hover {
   font-size: 60px;
}




/*.................   Footer  ................*/

.footer {
   height: 50px;
}

.footer h6 {
   line-height: 50px;
}





/*......................... Media Query.................*/

@media( min-width: 992px) {

}

@media( min-width: 768px) and (max-width: 991px) {
    



  .place .portfolio {
    height: 2000px;
   }

   .place p{
   font-size: 10px;
   
   }

 

   .video {
    height: 600px;
   }

    .video h1 {
     padding-top: 50px;
   }  

   .ice{
    width: 200px;
    height: 200px;
}



}

@media ( min-width: 480px) and ( max-width:767px) {
   video {
      margin-left: 10px;
   }

   .video {
      background:linear-gradient(rgb(241, 208, 177),#b4a073, #1c6270);
      height:1000px;
      align-content: center;
      }


   .box {

     height: 300px;
  
     margin: 15px;
     width: 600px;

   }


   .box:hover { 
      height: 320px;

   }

    .ourteam{
   height: 1300px;  
   }





@media  (max-width: 479px) {

/*  
.video {
   background:linear-gradient(rgb(241, 208, 177),#b4a073, #1c6270);
    height: 1000px;
    } */

    video {
       width: 260px;
    }

    .box {

      height: 280px;

    }


/* 
  .ourteam{
   height: 1400px;  
   } */

} 
